

.Button.Warning {
    background-color: #dc3545e0;
}

.Button.Primary,
.Button.Warning {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.Button.Primary {    
    background-color: #0072d2;
}

.Button {
    min-width: 64px;
    height: 32px;
    margin: 0 4px;
    padding:4px 16px;
    font-size: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
}

button.Button:focus {
    border-color: #0072d2;
    border-width: 2px;
    outline: none;
}

.Button.Primary:focus 
{
    border-width: 1px;
    border-color: white;
    border-style: dotted;
}

button.Button::-moz-focus-inner {
    outline: 0;
    border: 0;
  }