@import "../../styles/variables.scss";
@import "../../styles/grid.scss";


.AgeBar {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 4px;
    text-align: left;
    @include phone-screen {
        display: none;
    }
}

.AgeBarContent {
    flex: auto;
    margin-bottom: 2px;
    background: linear-gradient(to right, #63ef4852 0%, #8764a7 100%);
}

.Numbers {
    position: relative;
    flex: auto;
}

.AgeBar .Number {
    position: absolute;
    color: $gray;
    font-size: 12px;
    /* Center the numbers around their anchor point */
    transform: translate(-50%, 0);
}